<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/services">Nos services</a></li>
        <li><a href="/contact">Contactez-nous</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <div class="services">
      <div class="card">
        <img src="/pictures/service1.png" alt="Service 1" />
        <h3>Software Development</h3>
        <p>
          Software development services help plan, design, develop, integrate,
          test, manage and evolve software solutions. Quality-centered and
          adherent to mature software development practices, ScienceSoft
          provides application development services to startups, software
          companies, and enterprises across 30+ industries. We are ready to
          offer end-to-end development that covers everything from business
          analysis to software delivery and support, help modernize your legacy
          software, or augment your team with our IT experts at any stage of
          SDLC.
        </p>
      </div>
      <div class="card">
        <img src="/pictures/service2.png" alt="Service 2" />
        <h3>Hardware Development</h3>
        <p>
          Working with our customers' existing infrastructure, we integrate our
          field equipment hardware for extra functionality and to produce useful
          insights. We build customer-focused views from these insights, sharing
          AI-based predictions on potential system susceptibilities, proposed
          maintenance work and timescales to reduce identified risks.
        </p>
      </div>
      <div class="card">
        <img src="/pictures/service3.png" alt="Service 3" />
        <h3>React hardware Development</h3>
        <p>
          What is a React developer? React developers are software professionals
          who work with React to build UIs. By association, React developers are
          also front-end developers as well as JavaScript developers.
        </p>
      </div>
    </div>
  </body>
</html>
